<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" href="user-welcome.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#"></a>
      </div>
      <ul>
        <li><a href="#">User</a></li>
        
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Welcome to the portal</div>
    <div class="sub_title"></div>
    <div class="btns">
  <button type="button"(click)="toRegister()">Enroll</button>
  <button type="button"(click)="toResult()">Results</button>
  <button type="button"(click)="viewCandidates()">Candidates</button>
  <button type="button"(click)="deleteAccount()">Delete</button>
  <button type="button"(click)="updateAccount()">Update</button>
  <button type="button"(click)="logout()">Logout</button>
    </div>

<!--
<footer class="user-logout">
</footer>
</div>
-->








<!-- <div>
  <button type="button" class="btn btn-success" (click)="toRegister()">
    Enroll as Voter
  </button>
  <button type="button" class="btn btn-warning">Results</button>
  <button type="button" class="btn btn-info" (click)="viewCandidates()">
    View Candidates
  </button>

  <button type="button" class="btn btn-danger" (click)="deleteAccount()">
    Delete Your Account
  </button>

  <button type="button" class="btn btn-danger" (click)="updateAccount()">
    Update Your Account
  </button>
</div>
<footer class="user-logout">
  <button type="button" class="btn btn-warning" (click)="logout()">
    LOGOUT
  </button>
</footer> -->
