
    <div class="container" id="cont">
      <div class="form-wrapper">
          <div class="banner">
              <h1>Hello Officer!</h1>
              <p>Enter your details for verification</p>
          </div>
          <div class="green-bg">
              <button type="button" id="btn" (click)="initFunction()">Sign In</button>
          </div>
          <form #registerForm="ngForm" class="signup-form" (ngSubmit)="loginOfficer()">
              <h1>Welcome</h1>
              <p>Use your emaill for Sign In</p>
              
              <div class="input-group">
                  <i class="fas fa-envelope"></i>
                  <input type="email"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Email"
                  name="email"
                  [(ngModel)]="officer.emailId"
                  required
                  pattern="[a-zA-z_]{1}[a-zA-z_0-9]*[@]{1}[a-z]*[//.]{1}[a-z]*"
                  #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched"
                />
                <div *ngIf="email.errors && email.invalid && email.touched">
                  <small class="text-danger" *ngIf="email.errors.required"
                    >Email is required</small
                  >
                  <small class="text-danger" *ngIf="email.errors.pattern"
                    >Email is in incorrect format</small
                  >
                </div>
              </div>
              <div class="input-group">
                  <i class="fas fa-lock"></i>
                  <input type="password"
                  id="exampleInputPassword1"
                  placeholder="Password"
                  name="password"
                  [(ngModel)]="officer.password"
                  required=""
                  #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched"
                />
                <div *ngIf="password.errors && password.invalid && password.touched">
                  <small class="text-danger" *ngIf="password.errors.required"
                    >Password is required</small
                  >
                </div>
              </div>
              
              <div class="input-group">
                <i class="fa fa-mobile"></i>
                <input type="text"
                id="exampleInputPassword1"
                placeholder="Contact Number"
                name="contactNo"
                [(ngModel)]="officer.mobileno"
                required
                pattern="[6-9]{1}[0-9]{9}"
                #contact="ngModel"
                [class.is-invalid]="contact.invalid && contact.touched"/>

              <div *ngIf="contact.errors && contact.invalid && contact.touched">
                <small class="text-danger" *ngIf="contact.errors.required"
                  >Contact Number is Required</small
                >
                <small class="text-danger" *ngIf="contact.errors.pattern"
                  >Contact Number is invalid</small
                >
              </div>
              </div>

            <div class="form-group form-check"></div>
            <button
              [disabled]="registerForm.form.invalid"
              type="submit"
              class="btn btn-primary">Login
            </button>
              <!-- <button type="button">Sign Up</button> -->
              <div class="warning">{{ warning }}</div>
              <div id="succ" class="success">{{ success_msg }}</div>
              <div class="text-center">
                <p>forgot your password? <a routerLink="/officer-forget">Forgot Password</a></p>
              </div>
          </form>
      </div>
  </div>


